<html lang="en">
    <%- include('./partial/head.ejs') %> 
    <body>
        <%- include('./partial/nav.ejs') %> 
    
        <div class="404-content">
            <h2>404 CONTENT !!!</h2>
        </div>
        <%- include('./partial/footer.ejs') %> 
    </body>
    </html